body {
  font-family: "Arial", sans-serif;
  margin: 0;
  display: flex;
  background-color: #f0f0f0;
  height: 100vh;
}


.container {
  display: flex;
}


.planet-list {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}

.planet-list h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#planetList {
  list-style-type: none;
  padding: 0;
}

#planetList li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#planetList li:hover {
  background-color: #34495e;
}

.info-panel {
  background-color: #ecf0f1;
  overflow-y: auto;
  padding: 20px;
}

.info-panel p {
  font-size: 16px;
  color: #0e4b5e;
}

#solarCanvas {
  width: 100%;
  height: 600px;
  background-image: url("assets/spaceBG.jpg");
}

.controls {
  background-color: #34495e;
  color: white;
  padding: 20px;
}

.controls h2 {
  font-size: 22px;
  margin-bottom: 20px;
}




.top-row, .bottom-row {
    display: flex;
    justify-content: center;
    gap: 5px; 
}

button {
    margin-top: 20px;
    background-color: #b17e21; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

button:hover {
    background-color: #85742a; 
    transform: translateY(-2px); 
}



#resetPos {
    background-color: #c52b1a;  
}

#resetPos:hover {
    background-color: #c74132; 
}

#PlayStopSim {
    background-color: #1a8848; 
}

#PlayStopSim:hover {
    background-color: #27ae60; 
}

#infoButton {
    margin-left: 30%;
    background-color: #68806a;
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #infoButton:hover {
    background-color: #303b30;
  }
  
  .modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #1b1b1b;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    border-radius: 10px;
  }
 
  
  
  
